{% extends 'base.html' %}

{% block title %}
  {{  group.title  }}
{% endblock title %}

{% block content %}
      <div class="container py-5">        
        <h1>{{  group.title  }}</h1>
        <p>{{  group.description  }}</p>
        {% for post in page_obj %}
            {% include "includes/post_item.html" with post=post %}
        {% endfor %}
        {% if page_obj.has_other_pages %}
            {% include "includes/paginator.html" with page_obj=page_obj paginator=paginator%}
        {% endif %}
      </div>
      
{% endblock content %}