{% extends 'base.html' %}

{% block title %}
  {{  post.title  }}
{% endblock title %}

{% block content %}
<div class="container py-5">
        <div class="row">
          <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Дата публикации: {{  post.pub_date |date:"D d M Y"  }}
              </li>               
              <li class="list-group-item">
                Группа: {{  post.group  }}
                <a href="{% url 'posts:group_list' post.group.slug %}">
                  все записи группы
                </a>
              </li>            
              <li class="list-group-item">
                Автор: {{  post.author  }}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Всего постов автора:  <span >{{ user.posts.all.count }}</span>
              </li>
              <li class="list-group-item">
                <a href="{% url 'posts:profile' post.author %}">
                  все посты пользователя
                </a>
              </li>
            </ul>
          </aside>
          <article class="col-12 col-md-9">
            <p>{{  post.text  }}</p>
            <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">
              редактировать запись
            </a>                
          </article>
        </div>     
      </div>      
{% endblock content %}